@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: rgb(174, 22, 113);
    --color2: rgb(230, 125, 188);
}

.container {
    display: flex;
    text-align: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    background-color: black;
    text-align: center;
    color: white;

}

header {
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}

.navbar {
    display: flex;
    max-width: 1300px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    position: sticky;

}

.nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo>img {
    max-width: 20rem;
    min-width: 60%;
}

.nav>ul {
    list-style-type: none;
}

.nav ul li {
    display: inline-block;
    text-align: center;
}

.nav ul li a {
    text-decoration: none;
    color: var(--color2);
    padding: 1rem;
    padding-bottom: 5px;
    font-family: 'Poppins', sans-serif;
}

.nav ul li a:hover {
    border-bottom: 1px solid var(--color1);
    color: var(--color1);
}

#btn-sign {
    padding: 1rem 2rem;
    outline: none;
    border: none;
    background-color: rgb(174, 22, 113);
    font-weight: bold;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 1rem;
    transition: all 0.7s ease-in-out;
}

#btn-sign:hover {
    background-color: rgb(127, 15, 82);
}

.offer {
    text-align: center;
    width: 100%;
    padding: 1rem;
    color: white;
    background-color: rgb(174, 22, 113);
    font-family: 'roboto';
}

.main-content {
    background-image: url(images/pexels-viresh-studio-1444442.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    background-position: center;
    background-size: cover;
    padding-bottom: 3rem;
}

.content {
    max-width: 1300px;
    width: 90%;
    text-align: center
}

.content>h1 {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-top: 6rem;
}

.options {
    display: flex;
    flex-wrap: wrap;
    /* margin: 2rem; */
    justify-content: center;
}

select {
    text-align: center;
    height: 55px;
    width: 300px;
    font-family: 'Poppins';
    font-size: 18px;
    padding: 10px;
    padding-right: 2rem;
    margin: 20px 50px;
    border-radius: 5px;
}

.rem-content {
    width: 60%;
    font-family: 'Poppins';
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--color2);
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 2rem;
    color: black;
}

.btnn {
    padding: 21px 55px;
    outline: none;
    border: none;
    background-color: var(--color1);
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins';
    margin-bottom: 2rem;
    transition: all 0.7s ease-in-out;
}

.btnn:hover {
    background-color: rgb(127, 15, 82);

}

.last {
    margin-bottom: 2rem;
}

.last>p {
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-size: 15px;
    padding: 5px;
}

.last>p>a {
    color: white;
    font-weight: 700;
}

.last>p>a:hover {
    color: var(--color1)
}

.subcontent1 {
    background-color: black;
    color: white;
    padding-bottom: 5rem;
    box-shadow: 0 -6px 10px 5px rgba(138, 137, 137, 0.5);
}

.subcontent1>h1 {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-top: 4rem;
}

.subcontent1>h4 {
    font-family: 'Popins';
    letter-spacing: 1px;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 30px;
    color: var(--color2);
}

.content-container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    min-width: 360px;
}

.con>img {
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 40px;
}

.con>img:hover {
    filter: brightness(0.7);
}

.con>div>h2 {
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: 10px;
}

.con>div>p {
    font-family: "Roboto";
    margin-bottom: 20px;
    color: var(--color2);
}

.topten {
    background-image: url(images/pexels-rodnae-productions-6708803.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 4rem;
    border-bottom: 1px solid rgb(29, 24, 24);
}

.headingtopten>h1 {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-top: 4rem;
    margin-bottom: 10px;
}

.headingtopten>p {
    font-family: "Roboto";
    margin-bottom: 40px;
    color: var(--color2);

}

.toptencontent {
    max-width: 1200px;
    margin: auto;
}

.toptencontent>img {
    height: 12rem;
    filter: brightness(0.5);
    border-radius: 50%;
    padding: 1rem;
    margin: 1rem;
    transition: all 0.2s ease-in-out;
}

.toptencontent>img:hover {
    filter: brightness(1);
    border: 3px solid var(--color1);
    transform: scale(1.2);
}

.quote {
    background-image: url(images/2222.jeg.jpg);
    height: 700px;
    background-position: center;
    background-size: cover;
    text-align: start;
}

.quotecont {
    max-width: 800px;
    margin: 2rem;
    width: 90%;
}

.quotecont>h1 {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 42px;
    letter-spacing: 2px;
    margin-top: 4rem;
}

.quotecont>h2 {
    max-width: 500px;
    width: 90%;
    margin: 1rem 0;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 26px;
    letter-spacing: 1px;
}

.quotecont>p {
    font-family: 'Popins';
    letter-spacing: 1px;
    font-size: 14px;
    margin-bottom: 30px;
    color: var(--color2);
}

.btnnn {
    padding: 13px 37px;
    outline: none;
    border: none;
    background-color: var(--color1);
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins';
    margin-bottom: 2rem;
    transition: all 0.7s ease-in-out;
}

.btnnn:hover {
    background-color: rgb(127, 15, 82);

}

.ending {
    background-image: url(images/3333333.jpg);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-size: cover;
    flex-wrap: wrap;
    align-items: center;
    min-height: 500px;
}

.endoffer {
    display: flex;
    background-color: rgb(135 54 102);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.endoffer>h1 {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 2rem;

}

.endoffer>h2 {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.endoffer>p {
    padding: 21px 55px;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins';
    margin-bottom: 2rem;
    transition: all 0.7s ease-in-out;
}

.footer {
    /* display: flex; */
    max-width: 1300px;
    width: 90%;
    margin: auto;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.newsletter>img {
    /* max-height: 10rem; */
    width: 90%;
    max-height: 200px;
    max-width: 600px;
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.form>h1 {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 2px;
    margin-top: 2rem;
}

.form>h2 {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 20px;
    color: var(--color2);
    margin-bottom: 10px;
}

.text>input {
    font-family: "Poppins";
    padding: 15px 30px;
    width: 45%;
    font-size: 15px;
    margin: 10px;
}

.text>button {
    padding: 13px 37px;
    outline: none;
    border: none;
    background-color: var(--color1);
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Poppins';
    margin-bottom: 2rem;
    margin-top: 1rem;
    transition: all 0.7s ease-in-out;
}

.text>button:hover {
    background-color: rgb(127, 15, 82);
}

/* MEDIA QUERIES */

@media only screen and (min-width: 1261px) {
    .nav-ham {
        display: none;
    }
}



@media only screen and (max-width: 1260px) {

    .navbar {
        display: none;
    }

    .nav-ham {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ham-logo>img {
        max-height: 90px;
        margin: 5px 5px 0px 5px;
    }

    .bars {
        margin-right: 20px;
    }

    .bar {
        width: 30px;
        height: 3px;
        margin-bottom: 6px;
        background-color: white;

    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 100%;
        height: 400px;
        border: 1px solid var(--color1);
        border-left: none;
        border-right: none;
        width: 100vw;
        background-color: black;

    }
   
    .menu>ul {
        list-style: none;

    }

    .menu>ul>li {
        font-size: 20px;
        height: 60px;

    }

    .menu>ul>li>a {
        color: white;
        text-decoration: none;
        transition: all 0.4s linear ;
        padding-bottom: 5px;
    }
    .menu>ul>li>a:hover{
        color: var(--color1);
        border-bottom: 1px solid var(--color1);

    }

    #ham-btn-sign {
        padding: 10px 15px;
        outline: none;
        border: none;
        background-color: rgb(174, 22, 113);
        font-weight: bold;
        color: white;
        border-radius: 3px;
        cursor: pointer;
        margin-left: 1rem;
        transition: all 0.2s linear;
    }
    .menu-active{
        right: 0px;
        top: 100px;
    }
    
    
}